.top-bar {
  height: 30px;
  width: 100%;
  border-bottom: 1px solid black;
}

.main {
  height: calc(100% - 55px);
}

.tool-sidebar {
  min-width: 50px;
  border-right: 1px solid black;
}

.main-screen {
  width: 100%;
  /* max-width: calc(100% - 275px); */
  overflow-y: auto;
}

.has-option-layout {
  max-width: calc(100% - 275px);
}

.option-sidebar {
  width: 300px;
  border-left: 1px solid black;
  padding-top: 30px;
  background-color: white;
}

.status-bar {
  height: 25px;
  border-top: 1px solid black;
}

.status-bar p {
  font-size: 12px;
  color: #a7a7a7;
  padding-left: 15px;
}

.logo {
  width: 20px;
  margin-left: 15px;
}

.tag-bar {
  width: calc(100% - 49px);
  height: 100%;
  border-left: 1px solid #a7a7a7;
}

.close-tag {
  width: 10px;
  opacity: 0;
  transition: opacity 0.2s;
}

.tag-box {
  max-width: 150px;
  padding-right: 5px;
  padding-left: 5px;
  width: 100%;
  cursor: pointer;
  background-color: #e4e4e4;
  border-right: 1px solid #a7a7a7;
}

.tag-box:hover .close-tag {
  opacity: 1;
  transition: opacity 0.2s;
}

.tag-image-name {
  width: 130px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.minimal-icon {
  width: 20px;
}

.minimal-box {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.input-filter-percent {
  width: 30px;
  text-align: end;
  border: none;
  font-size: 15px;
  padding-right: 3px;
}

#upload-box {
  cursor: pointer;
  transition: box-shadow 0.2s;
}

#upload-box:hover {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s;
}
